.App {
  text-align: center;

}



.home {
  width: 100%;
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .spinner-border {
  width: 4rem;
  height: 4rem;
}